<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <ul class="fields">
    <li class="string">
			<%= f.label :title %>
    	<%= f.text_field :title %>
		</li>
   <li class="text">
    <%= f.label :content %>
    <%= f.text_area :content %>
  </li>
</ul>
<div class="form-actions clear">
     <span class="button"><%= f.submit %></span>
  </div>
<% end %>

